.minpho {
    margin-left: 110px;
}



.prdctline{
    
    border-top: 10px solid #161a3f;
    margin-top: 30px;
    
}

.mini{
    margin-bottom: 10px;
    border: 5px solid #750031;
    
    padding: 3px;
    border-radius: 8px;
}

.sideline{
    margin-top: -40px;
    margin-left: 150px;
    border-left: #161a3f 6px solid;
}

.revi{
    margin-left: 130px;
    margin-top: 10px;
    
}
.prdctimg{
    margin-bottom: 80px;
    margin-left: 50px;
    border: 10px solid #750031 ;
    border-radius: 8px;
}

.prdctline2{
    margin-top: 50px;
    margin-left: 83px;
    border-right: 10px solid #161a3f ;
    
    }


    .desc{
      
        text-align: right;
        margin-bottom: 100px;
        
    }




.descr{

margin-left: 150px;
margin-bottom: 100px;


}









    
    
    
    
    .Line3{
    
        border-top: solid 15px #750031;
        margin-top: 50px;
     
    
    }
    
    
    
    
    
    
    
    