.vidbtn1{

    margin: 150px;
    background-color: #750031;
    border: 5px solid  #13173d;
    color:#fff;
    font-size: 40px;
    padding: 15px;
 border-radius: 10px;

}


.vid1{
    margin-top: -40px;
    border: 10px solid #13173d;
    font-size: 100px;
}


















